head, body, html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: "Lucida Console", Monospace;
}
h1 {
  font-size: 60px;
  color: white;
}

h2 {
  font-size: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.col-lg-12{
  margin-top: 10px;
}

.col-lg-12 p{
  font-size: 25px;
}
