body, html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: "Lucida Console", Monospace;
}

.image {
  position: absolute;
margin-left: 320px;
padding: 0px;
}

.title {
  position: absolute;
  color: white;
  font-size: 40px;
  margin-left: 780px;
  margin-top: 135px;
}

.CSUMB {
  color: white;
  position: absolute;
  margin-left: 1430px;
  margin-top: 750px;
}


.about {
  margin-left: 820px;
  margin-top: 900px;
  background-color: black;
color: white;
  position: absolute;
  font-size: 50px;
}

.desc {
  font-size: 20px;
  position: absolute;
  margin-top: 950px;
  margin-left: 740px;
  background-color: white;
width: 300px;
border: 15px solid white;
padding: 50px;
}

.square {
  width: 10px;
 height: 450px;
 position: absolute;
 margin-top: 900px;
 margin-left: 770px;
 background: grey;
}

.square2 {
  width: 10px;
 height: 450px;
 position: absolute;
 margin-top: 900px;
 margin-left: 1100px;
 background: grey;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



.footer {
  box-sizing: border-box;
  position: absolute;
   padding: 5%
   left: 0;
   bottom: -800px;
   width: 100%;
   background-color: grey;
   color: white;
   padding: 5px 10px 10px 10px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}



@media screen and (min-width: 769px) and (max-width: 1200px) {
  .footer {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0px;
    clear: both;
    /*border: 1px blue solid;*/
  }
